@font-face {
    font-family: "Manrope";
    src: url(/fonts/Manrope/Manrope-VariableFont_wght.ttf);
}

@font-face {
    font-family: "LibreFranklin";
    src: url(/fonts/LibreFranklin/LibreFranklin-VariableFont_wght.ttf);
}


* {
    margin: 0px;
    padding: 0px;
    font-family: "LibreFranklin";
    font-weight: 300;
    font-size: 22px;
    color: #DDDDDD;
    text-decoration: none;
}

body {
    background-color: #080B10;
}

nav {
    display: flex;
    justify-content: center;
}

li.header-nav {
    /* list-style: none; */
    font-size: 18px;
    font-family: "LibreFranklin";
    font-weight: bold;
    display: inline-block;
    padding: 23px;
    border-radius: 10px;
    text-transform: uppercase;
    /* transition: 0.4s; */
}

li.header-nav:hover {
    background-color: #1e1f21;
    transition: 0.4s;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: #DDDDDD;
    font-family: "LibreFranklin";
    margin: 0;
    text-transform: uppercase;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    
}


main {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}


.header-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(8, 11, 16, 0), rgba(8, 11, 16, 1)), url(/images/main-images/terrorblade.png);
    width: 100%;
    height: 50%;
    background-size: cover;
    flex-direction: column;
}

.logo {
    width: 10vw;
    max-width: 160px;
    margin-top: 30px;
}

.header-club {
    font-size: 1.55em; /* 48px*/
    font-weight: bold;
    color: #9C9390;
    font-family: "LibreFranklin";
    text-transform: uppercase;
}

.header-game {
    font-size: 3.45em; /* 90px*/
    font-weight: bold;
    color: #DDDDDD;
    font-family: "LibreFranklin";
    text-transform: uppercase;
}

.container {
    width: 62vw;
}

.main-item {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.footer-content {
    width: 50vw;
    display: flex;
    flex-direction: column;
    background-color: #0C1019;
    padding: 30px;
    border: #242E3F 2px solid;
    border-radius: 20px;
    row-gap: 10px;
}

.footer-block1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-club {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.footer-logo {
    width: 4vw;
}

.footer-club-titles {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.footer-game-name {
    font-size: 2em;
    font-weight: bold;
    color: #DDDDDD;
    font-family: "LibreFranklin";
}

.footer-club-name {
    font-size: 1em;
    font-weight: bold;
    color: #9C9390;
    font-family: "LibreFranklin";
}

.footer-nav {
    margin-right: 5vw;
}

.footer-nav-item {
    font-size: 0.85em;
}

.footer-social-media {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.footer-social-media-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 0.85em;
}

.social-media {
    opacity: 65%;
    width: 39px;
    transition: 0.4s;
}

.social-media:hover {
    opacity: 100%;
    /*transition: 0.4s;  поломанная анимка */
}