/* .team-members {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
} */

.team-members-block {
    display: flex;
    background-color: #0C1019;
    padding: 20px 70px 30px 30px;
    border: #242E3F 2px solid;
    border-radius: 20px;
}

.player-card {
    /* width: 310px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}

/* .player-img {
    height: 350px;
} */

.player-name {
    margin-top: 6px;
    font-size: 1.4em;
    font-weight: bold;
    color: #DDDDDD;
    font-family: "LibreFranklin";
}

.player-role {
    margin: 9px;
    font-size: 0.6em;
    font-weight: bold;
    color: #9C9390;
    font-family: "LibreFranklin";
    text-align: center;
}


.player-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
    margin-top: 30px;
}

.player-main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
}

.player-main-info-item {
    display: flex;
    flex-direction: column;
    max-width: 160px;
    min-width: 100px
}

p.player-main-info-parameter {
    font-size: 24px;
    font-weight: bold;
    color: #9C9390;
}

.player-biography {
    margin-top: 30px;
}

p.player-main-info {
    font-size: 24px;
    font-weight: bold;
}
