/* .team-members {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
} */

.team-members-block {
    display: flex;
    background-color: #0C1019;
    padding: 20px 70px 30px 30px;
    border: #242E3F 2px solid;
    border-radius: 20px;
}

.player-card {
    width: 330px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}

/* .player-img {
    height: 350px;
} */

.player-name {
    margin-top: 6px;
    font-size: 32px;
    font-weight: bold;
    color: #DDDDDD;
    font-family: "LibreFranklin";
}

.player-role {
    margin: 9px 0;
    font-size: 15px;
    font-weight: bold;
    color: #9C9390;
    font-family: "LibreFranklin";
}

.social-media {
    opacity: 50%;
    transition: 0.5s;
}

.social-media:hover {
    opacity: 100%;
    transition: 0.5 s;
}

.player-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
    margin-top: 30px;
}

.player-info-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.player-main-info-item {
    display: flex;
    flex-direction: column;
}

.player-main-info-item>p {
    font-size: 29px;
    font-weight: bold;
}

.player-main-info-item>p:first-child {
    font-size: 29px;
    font-weight: bold;
    color: #9C9390;
}

.player-biography {
    margin-top: 30px;
}